    <form class="edit" action="/todos/<%= @todo.id %>" method="post">
      <input type="hidden" name="_method" value="PATCH">
      <input type="text" name="content" value="<%= @todo.todo_content %>">
      <input type="submit" value="Update Todo"/>
      <!-- <button class="add" type="submit">Add Todo</button> -->
    </form>